body{
    margin: 0;
}
#container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 97vh;
}
header{
    background: aqua;
    width: 100%;
    height: 350px;
}
#title{
    text-align:center;
    font-size: 20px;
    color: red;
}
#sub-title{
    padding-left: 20px;
    font-size: 20px;
    color: rgb(80, 4, 95);
}
#image1{
    height:500px;
    width: 500px;
    position: absolute;
    right: 100px;
    top: -30px;
}
#content{
    background: black;
    margin-top: 200px;
}
.image2{
    width: 300px;
    height: 350px;
    padding-left: 61px;
    padding-top: 50px;
}
button{
    position: relative;
    background: red;
    right: 150px;
    bottom:10px;
    padding: 5px;
    border-radius: 10px;
    transition: background 0.3s , color 0.2s;
}
button:hover{
    background: yellow;
}
a{
    color:white;
    transition: color 0.3s;
}
a:hover{
    color: black;
}
